.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

    &.active {
        background: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.nav-container {
    position: relative;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin: 0 auto;
}

.logo {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-content: center;
}

.nav-links {
    display: flex;
    list-style: none;

    //this style will only apply if the device
    //has a screen and that screen is 768px or smaller
    @media screen and (max-width: 768px) {
        display: none;
    }

    li {
        margin-left: 3rem;

        a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 0.85rem;
            opacity: 0.6;
            transition: 0.5s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.social-icons {
    display: flex;

    //this style will only apply if the device
    //has a screen and that screen is 768px or smaller
    @media screen and (max-width: 768px) {
        display: none;
    }

    a {
        margin-left: 1rem;
        text-decoration: none;
        
        svg {
            color: #fff;
            opacity: 0.6;
            cursor: pointer;
            transition: 0.3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.menu {
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;

    @media screen and (max-width: 800px) {
        //display: block;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    svg {
        width: 70%;
        height: 70%;
    }
}

.closeMenu {
    background: #000;
    width: 4rem;
    height: 4rem;
    position: fixed;
    border-radius: 50%;
    right: 0;
    top: 0;
}

.menuX {
    color: #fff;
    position: fixed;
    top: 2rem;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    svg {
        cursor: pointer;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    li {
        list-style: none;
        margin-top: 1rem;

        a {
            text-decoration: none;
            color: #fff;
            text-transform: uppercase;
            font-size: 1.6rem;
            opacity: 0.6;
            transition: 0.5s;

            &:focus {
                opacity: 1;
            }
        }
    }
}